
@import "./_partials/flexbox";
@import "./_partials/common";

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

html, body, * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    @include box-sizing(border-box);

    font-family: HelveticaNeue, Helvetica, "Hiragino Kaku Gothic ProN", meiryo, 'ms pgothic', Arial, sans-serif;
    color: #333;
}

@import "./_pages/top";
