
* {
    color: #ddd;
}

#background {
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;

    z-index: 1;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.container {
    position: relative;
    z-index: 100;

    background-color: transparent;

    width: 600px;

    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;

    .logo {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        pointer-events: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        width: 300px;

        .logo-inner {
            text-align: left;

            h1 {
                color: white;
                font-size: 100px;
                font-weight: bold;
                letter-spacing: 2px;
                display: block;
            }
        }
    }

    .description {
        margin-bottom: 80px;

        p {
            text-align: center;
            line-height: 2.0em;
            font-size: 18px;
            color: #ddd;
        }

        a {
            text-decoration: none;
            margin: 2px 4px;
            border-bottom: 1px solid #ccc;

            &:hover {
                border: none;
            }
        }

    }

    .member {
        margin-bottom: 60px;

        h2 {
            text-align: center;
            font-size: 36px;
            margin-bottom: 40px;
        }

        ul {
            list-style: none;
            margin: 0 auto;
            text-align: center;

            li {
                width: 160px;
                display: inline-block;
                padding: 12px 16px;

                text-align: center;

                span {
                    display: block;
                    font-size: 22px;
                    margin-bottom: 4px;
                }

                div {
                    i {
                        font-size: 20px;
                        color: #fff;
                        &:hover {
                            color: #aaa;
                        }
                    }
                }

            }
        }
    }

}

footer {
    position: relative;
    z-index: 10;

    width: 600px;
    padding: 30px 0px;

    margin-left: auto;
    margin-right: auto;

    font-size: 12px;
    color: #ccc;
}

@media screen and (max-width: 640px) {

    .container {
        width: 300px;
        color: #333;

        .logo {
            margin-bottom: 60px;

            width: 230px;

            .logo-inner {
                text-align: left;
                h1 {
                    font-size: 70px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    display: block;
                }
            }
        }

    }

    footer {
        width: 300px;
    }

}
