html, body {
  width: 100%;
  height: 100%;
  background-color: black; }

html, body, * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: HelveticaNeue, Helvetica, "Hiragino Kaku Gothic ProN", meiryo, 'ms pgothic', Arial, sans-serif;
  color: #333; }

* {
  color: #ddd; }

#background {
  background-color: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.container {
  position: relative;
  z-index: 100;
  background-color: transparent;
  width: 600px;
  padding-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px; }
  .container .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 300px; }
    .container .logo .logo-inner {
      text-align: left; }
      .container .logo .logo-inner h1 {
        color: white;
        font-size: 100px;
        font-weight: bold;
        letter-spacing: 2px;
        display: block; }
  .container .description {
    margin-bottom: 80px; }
    .container .description p {
      text-align: center;
      line-height: 2.0em;
      font-size: 18px;
      color: #ddd; }
    .container .description a {
      text-decoration: none;
      margin: 2px 4px;
      border-bottom: 1px solid #ccc; }
      .container .description a:hover {
        border: none; }
  .container .member {
    margin-bottom: 60px; }
    .container .member h2 {
      text-align: center;
      font-size: 36px;
      margin-bottom: 40px; }
    .container .member ul {
      list-style: none;
      margin: 0 auto;
      text-align: center; }
      .container .member ul li {
        width: 160px;
        display: inline-block;
        padding: 12px 16px;
        text-align: center; }
        .container .member ul li span {
          display: block;
          font-size: 22px;
          margin-bottom: 4px; }
        .container .member ul li div i {
          font-size: 20px;
          color: #fff; }
          .container .member ul li div i:hover {
            color: #aaa; }

footer {
  position: relative;
  z-index: 10;
  width: 600px;
  padding: 30px 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  color: #ccc; }

@media screen and (max-width: 640px) {
  .container {
    width: 300px;
    color: #333; }
    .container .logo {
      margin-bottom: 60px;
      width: 230px; }
      .container .logo .logo-inner {
        text-align: left; }
        .container .logo .logo-inner h1 {
          font-size: 70px;
          font-weight: bold;
          letter-spacing: 2px;
          display: block; }
  footer {
    width: 300px; } }
