html, body {
  width: 100%;
  height: 100%;
  background-color: black; }

html, body, * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: HelveticaNeue, Helvetica, "Hiragino Kaku Gothic ProN", meiryo, 'ms pgothic', Arial, sans-serif;
  color: #333; }

* {
  color: #ddd; }

.container {
  position: relative;
  z-index: 100;
  background-color: transparent;
  width: 600px;
  padding-top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px; }
  .container .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 300px; }
    .container .logo .logo-inner {
      text-align: left; }
      .container .logo .logo-inner h1 {
        color: white;
        font-size: 90px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 1.1em;
        display: block; }
  .container .works {
    margin-bottom: 80px;
    width: 600px; }
    .container .works iframe {
      width: 100%;
      height: 320px; }
    .container .works ul {
      list-style: none;
      padding: 10px 20px 0px 20px; }
      .container .works ul li a.link {
        display: inline-block;
        text-decoration: none;
        margin: 2px 4px; }
  .container .description {
    margin-bottom: 80px;
    padding: 0px 20px 0px 20px; }
    .container .description p {
      text-align: left;
      line-height: 1.85em;
      font-size: 18px;
      color: #ddd; }
    .container .description ul {
      list-style: none; }
      .container .description ul li {
        padding: 8px 4px 8px 4px; }
        .container .description ul li a {
          text-decoration: none; }
          .container .description ul li a i {
            margin-right: 8px; }
  .container .member {
    margin-bottom: 60px; }
    .container .member h2 {
      font-weight: normal;
      text-align: center;
      font-size: 36px;
      margin-bottom: 40px; }
    .container .member ul {
      list-style: none;
      margin: 0 auto;
      text-align: center; }
      .container .member ul li {
        width: 160px;
        display: inline-block;
        padding: 12px 16px;
        text-align: center; }
        .container .member ul li span {
          display: block;
          font-size: 22px;
          margin-bottom: 4px; }
        .container .member ul li div i {
          font-size: 20px;
          color: #fff; }
          .container .member ul li div i:hover {
            color: #aaa; }

footer {
  position: relative;
  z-index: 10;
  width: 600px;
  padding: 30px 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  color: #ccc; }

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    color: #333; }
    .container .logo {
      width: 230px; }
      .container .logo .logo-inner {
        text-align: left; }
        .container .logo .logo-inner h1 {
          font-size: 70px;
          font-weight: bold;
          letter-spacing: 2px;
          display: block; }
    .container .works {
      width: 100%; }
      .container .works iframe {
        width: 100%;
        height: calc(55.1vw); }
  footer {
    width: 300px; } }
