{{ partial "header.html" . }}
<main id="main" class="container">
    <div class="logo">
        <div class="logo-inner">
            <h1>Indie</h1>
            <h1>Visual</h1>
            <h1>Lab</h1>
        </div>
    </div>
    <div class="works">
        <iframe src="https://player.vimeo.com/video/266119107" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <ul>
            <li>
                <a class="link" href="https://indievisuallab.stores.jp/items/59edf11ac8f22c0152002588" target="_blank">Unity Graphics Programming vol.1</a>
            </li>
            <li>
                <a class="link" href="https://indievisuallab.stores.jp/items/5aaa4e1def843f28cd000aa0" target="_blank">Unity Graphics Programming vol.1 (Korean)</a>
            </li>
        </ul>
    </div>
    <div class="works">
        <iframe src="https://player.vimeo.com/video/264543381" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <ul>
            <li>
                <a class="link" href="https://indievisuallab.stores.jp/items/5ae077b850bbc30f3a000a6d" target="_blank">Unity Graphics Programming vol.2</a>
            </li>
        </ul>
    </div>
    <div class="works">
        <iframe src="https://player.vimeo.com/video/293139321" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <ul>
            <li>
                <a class="link" href="https://indievisuallab.stores.jp/items/5bc08f64a6e6ee273e000e4b" target="_blank">Unity Graphics Programming vol.3</a>
            </li>
        </ul>
    </div>
    <div class="description">
        <p>Indie Visual LabはリアルタイムCGプログラミングについての技術資料を作成・公開したり、その技術に基づくコンテンツ開発を行っているサークルです。</p>
        <ul>
            <li>
                <a class="link" href="https://github.com/IndieVisualLab" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>@IndieVisualLab</a>
            </li>
            <li>
                <a class="link" href="mailto:lab.indievisual@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>lab.indievisual@gmail.com</a>
            </li>
        </ul>
    </div>
    <div class="member">
        <h2>Member</h2>
        <ul>
            <li v-for="member in members">
                <span v-text="member.name"></span>
                <div>
                    <a v-bind:href="member.github" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a v-if="member.twitter.length > 0" v-bind:href="member.twitter" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a v-if="member.personal.length > 0" v-bind:href="member.personal" target="_blank">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</main>
<script src="{{ .Site.BaseURL }}javascripts/main.js"></script> 
{{ template "_internal/google_analytics.html" . }}
{{ partial "footer.html" . }}
