{{ partial "header.html" . }}
    <canvas id="background"></canvas>
	<main id="main" class="container">
        <div class="logo">
            <div class="logo-inner">
                <h1>Indie</h1>
                <h1>Visual</h1>
                <h1>Lab</h1>
            </div>
        </div>
        <div class="description">
            <p>IndieVisualLabは<a href="https://techbookfest.org/event/tbf03" target="_blank">技術書典</a>に向けて、主にグラフィクスプログラミングを取り扱った技術同人誌を執筆中の同人サークルです</p>
        </div>
        <div class="member">
            <h2>Member</h2>
            <ul>
                <li v-for="member in members">
                    <span v-text="member.name"></span>
                    <div>
                        <a v-bind:href="member.github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a v-if="member.twitter.length > 0" v-bind:href="member.twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a v-if="member.personal.length > 0" v-bind:href="member.personal" target="_blank"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script src="{{ .Site.BaseURL }}javascripts/lib/three.min.js"></script>
    <script src="{{ .Site.BaseURL }}javascripts/main.js"></script>
{{ template "_internal/google_analytics.html" . }}
{{ partial "footer.html" . }}
